.home-one {
    background-color: green;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.window {
    background-color: aqua;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(8, 59, 8);
}
.dor {
    width: 30px;
    height: 50px;
    background-color: greenyellow;
    border: 1px solid rgb(8, 59, 8);
}

.container {
    width: 247px;
    height: 351px;
    padding: 30px;
    background: #84CEF9;
}

.window2x {
    display: flex;
    justify-content: space-between;
}

.win {
    background-color: yellow
}

.window__one {
    width: 62px;
    height: 66px;
}

.window__two {
    width: 82px;
    height: 108px;
}

.window__three {
    margin-top: 77px;
    width: 62px;
    height: 66px;
}

.door {
    margin-right: 10px;
    margin: 0% auto;
    width: 55px;
    height: 127px;
    background-color: #E7C1F9;
}

.home-three {
    background-color: yellow;
    width: 226px;
    height: 337px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 0px;
}

.windd {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
}

.doorr {
    align-self: flex-end;
    width: 30px;
    height: 50px;
    left: 530px;
    top: 1262px;
    background-color: black;
}

.home-for {
    width: 260px;
    height: 289px;
    background: #84F9C1;
}

.windows {
    padding-left: 30px;
    padding-top: 44px;
    gap: 26px;
    display: flex;
    flex-wrap: wrap;

}

.first__line-windows {
    display: flex;
    gap: 16px;

}

.second__line-windows {
    display: flex;
    gap: 16px;
}

span {
    width: 55px;
    height: 50px;
    background: #E7C1F9;
}

.doors {
    width: 63px;
    height: 94px;
    background: rgb(18, 12, 104);
    margin: 26px auto;
}