.home-one {
    background-color: green;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.window {
    background-color: aqua;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(8, 59, 8);
}
.dor {
    width: 30px;
    height: 50px;
    background-color: greenyellow;
    border: 1px solid rgb(8, 59, 8);
}

.container {
    width: 247px;
    height: 351px;
    padding: 30px;
    background: #84CEF9;
}

.window2x {
    display: flex;
    justify-content: space-between;
}

.win {
    background-color: yellow
}

.window__one {
    width: 62px;
    height: 66px;
}

.window__two {
    width: 82px;
    height: 108px;
}

.window__three {
    margin-top: 77px;
    width: 62px;
    height: 66px;
}

.door {
    margin-right: 10px;
    margin: 0% auto;
    width: 55px;
    height: 127px;
    background-color: #E7C1F9;
}